<!-- result.erb -->



<h1>The result is: <%= @calculation %></h1>
<!-- use ice cream cones to ask controller to serve up something, and then display in view i.e. define @calculation in the controller-->

<!-- display requires "< % =   % >" i.e. inject it into html code -->
<!-- logic alone is "< %   % >" and must NOT have "< % =   % >" -->
<!-- avoid too much pure ruby: looping etc is permissable -->

<!-- html comments don't prevent erb tags being processed! -->



<!-- result.erb -->
